body {
    background-color: #F5F7FA;
    font-family: 'Montserrat', 'Arial';
}

/*----------------------*/
/* Contenedor principal */
/*----------------------*/

.main-container {
    display: flex;
    flex-direction: row-reverse;
    background-color: #FFFFFF;
    width: 1200px;
    margin: 40px auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/*---------------------*/
/* Información general */
/*---------------------*/

.general-information {
    color: #595959;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    padding: 100px 88px;
}

/* Descripción */

.description-profession {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
}

.name {
    color: #000000;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.text-description {
    width: 600px;
    font-weight: 400;
}

/* Secciones principales */

.main-section-title {
    color: #000000;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 45px;
}

.orange-text {
    color: #FB6D3A;
}

.timeframe {
    color: #A8A8A8;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.pipeline {
    color: #000000;
}

/* Proyectos */

.projects-list {
    color: #000000;
    font-weight: 700;
    padding-left: 17px;
}

.projects-links {
    color: #595959;
    font-weight: 400;
    margin-left: 5px;
}

.projects-dots {
    font-weight: 400;
    letter-spacing: 2px;
}

.projects-languages {
    color: #595959;
    font-weight: 400;
}

/* Experiencia laboral */

.work-position {
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 11px;
}

/* Lista tareas*/

.tasks-list {
    width: 525px;
    font-weight: 400;
    padding-left: 17px;
    margin-top: 8px;
}

/* Educación */

.university {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 12px;
    margin-bottom: 11px;
}

.university-degree {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 12px;
}

/*----------------------*/
/* Información personal */
/*----------------------*/

.personal-information {
    padding: 40px 0;
    background-color: #1E2939;
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}

.personal-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 50px;
}

.contact, .tech-skills, .soft-skills {
    margin-left: 40px;
}

/* Contact */

.contact-type {
    margin-right: 5px;
}

.contact-info {
    color: #FFFFFF;
    opacity: 0.5;
    font-style: normal;
    font-weight: 400;
}

/* Lista */

.skills-list {
    font-weight: 400;
    padding-left: 17px;
}

.skills-list > li {
    color: #FB6D3A;
}

.element-skills-list {
    color: #FFFFFF;
}